.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
    margin-top: 400px;
    
}

.mySlides {
    display: none;
    width: 100%;
    border-radius: 10px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
body{
    background-color: #f5deb3;
}
a{
    color: gray;
    
}