<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="urun1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Trendyol</title>
</head>
<body>
    <body>
        <header class="main-header">
            <!-- <div class="banner">
                <a id="banner-image" href="/"><img src= "/images/web-home-page-top-tr-TR-1699218000000-SAGson1_2x.jpg" alt=""></a>
            </div> -->
        </header>
    
        <nav class="nav-item">
            <div class="header-item">
                <div class="header-items">
                    <a href="/">İndirim Kuponlarım</a>
                    <a href="/">Trendyol'da Satış Yap</a>
                    <a href="/">Hakkımızda</a>
                    <a href="/">Yardım & Destek</a>
                </div>
            </div>
    
            <div class="header-logo">
                <div class="main-navbar">
                    <div class="logo1">
                        <img class="logo" src="/images/ty-cumhuriyet-100-logo.svg" alt="">
                    </div>
    
    
    
                    
                
    
    
                    <div class="search-box">
                        <input type="text" placeholder="Aradığınız ürün, kategori veya markayı yazınız">
                        <i class="fa-solid fa-magnifying-glass"></i>
    
                    </div>
    
                    <div class="account-operations">
                        <div class="user"><a href="/"><i class="fa-regular fa-user" style="color: #000000;"></i>Giriş Yap</a></div>
                        <div class="user"><a href="/"><i class="fa-regular fa-heart" style="color: #000000;"></i>Favorilerim</a></div>
                        <div class="user"><a href="/"><i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>Sepetim</a></div>
                    </div>
                </div>
            </div>
    
    
            <div class="menu">
                <a href="/">Kadın</a>
                <a href="/">Erkek</a>
                <a href="/">Anne & Çocuk</a>
                <a href="/">Ev & Mobilya</a>
                <a href="/">Süpermarket</a>
                <a href="/">Kozmatik</a>
                <a href="/">Ayakkabi & Çanta</a>
                <a href="/">Elektronik</a>
                <a href="/">Spor&Outdoor</a>
                <a href="/">Çok Satanlar <p class="menu-banner">Yeni</p></a>
                <a href="/">Flaş Ürünler <p class="menu-banner">Yeni</p></a>
    
            </div>
    
</body>
</html>